@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8FAFC;
  font-family: 'Inter', sans-serif;
  color: #1E293B;
  -webkit-font-smoothing: antialiased;
}